[flake8]
max-line-length = 88
extend-ignore = E203,W503,E501,E402, W291
select = C,E,F,W,B950
exclude = .git,.venv,venv,env, __pycache__, dist,build,.cache,.cache/**,*/cache/*,*/.cache/*,.uv-cache,node_modules